html
  head
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Markdown Converter
      .row
        .col-xs-6
          textarea#markdown
          button#convert.btn.btn-primary Convert
        .col-xs-6
          div#html.pane
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='/js/main.js')