html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Markdown Converter
    .container
      .row
        .col-xs-6
          textarea#markdown(row='80',cols='30')
          button#convert.btn.btn-primary Convert
        .col-xs-6
          div#html.pane
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/main.js')